@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --black: #000000;
  --sblue: #b0c4de;
  --pdark: rgba(255, 255, 255, 0);
  --purplestuff: rgba(136, 0, 136, 0.919);
  --pwhite: #ffffff;
  --pblack: #000000;
  --pred: rgb(255, 0, 0);
  --pmagenta: rgb(225, 0, 255);
  --plightgrey: rgb(215, 215, 215);
  --preggrey: rgb(61, 61, 61);
}

body {
font-family: "PT Serif", sans-serif !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/*---- NAV BAR LINKS ----*/
nav a.nav-links {
  font-size: 1rem;
  letter-spacing: 0.275rem;
  cursor: pointer;
}

nav ul li {
  text-transform: capitalize;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--black) !important;
  border-top: 0.1875rem solid var(--pdark);
}

.navbar-brand {
  font-weight: 900;
  font-size: 1.625rem !important;
  max-width: 17.25rem;
  padding:0 !important;
  height: 6rem !important;
  justify-content: baseline;
  font-family: "PT Serif", sans-serif;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--sblue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--sblue);
}

/******************** Header Section ***********************/

.header-wrapper {
  position: relative;
  background: url(Newestportfoliobackground.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height:100vh;
}

.main-info {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "PT Serif", sans-serif;
}

.main-info h1 {
  color:beige;
}

/*------------- Contact Me Button -------------*/
.btn-contact-me {
  border: .25rem solid var(--pwhite);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--pwhite);
  font-family: "PT Serif", sans-serif;
}

.contact-me-btn {
  display: flex;
  position: relative; top: 65%;
  justify-content: center;
  text-align: center;
}

/******************* About myself section ****************************/
.photo-wrapped {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 23rem;
  height: 24rem;
  border-radius: 50%;
  padding: .3rem;
  border: .15rem solid var(--purplestuff);
}

.heading-aboutmyself {
  color: var(--purplestuff);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
    height: 11rem;
  }
}

/*------------------------ Portfolio Section -----------------------*/
.portfolio-wrapper {
  background: var(--sblue);
  padding: 3rem 0;
}

.portfolio-image {
  width: 21rem;
  height: 10.5rem;
  border: 1px solid var(--purplestuff);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

/*-------------------- Overflow ----------------------*/
.overflow {
  position: absolute;
    opacity: 0;
    background: var(--pblack);
    width: 21rem;
    height: 10.5rem;
    top: 0;
  border: 1px solid var(--pmagenta);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

/*--------------- Overflow box ----------------*/
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--purplestuff);
}

.hyper-link:hover {
  color: var(--purplestuff);
}

/******************* Contacts *******************/

.contacts {
  background: var(--preggrey);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--purplestuff);
  padding: 1.3rem 0;
}

.contacts p {
  color: var(--pwhite);
  font-size: 1.1rem;
}

/*-------------- Input ---------------*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--pwhite);
  border-radius: 0;
  color: var(--plightgrey);
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
}

.contacts .container {
  padding: 2.5rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--pblack);
}

.contacts textarea {
  height: 7.55rem;
  margin: 2rem 0;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--purplestuff);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

/*---------------- Media -----------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/*---------------- Footer Section -----------------*/
.footer {
  background: var(--sblue);
  color: var(--pblack);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--pblack);
}

.footer a:hover {
  text-decoration: none;
  color: var(--pmagenta);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}