@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --black: #000000;
  --sblue: #b0c4de;
  --pdark: rgba(255, 255, 255, 0);
  --purplestuff: rgb(100, 13, 100);
  --pwhite: #ffffff;
}

body {
font-family: "PT Serif", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/*---- NAV BAR LINKS ----*/
nav a.nav-links {
  font-size: 1rem;
  letter-spacing: 0.275rem;
  cursor: pointer;
}

nav ul li {
  text-transform: capitalize;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--black) !important;
  border-top: 0.1875rem solid var(--pdark);
}

.navbar-brand {
  font-weight: 900;
  font-size: 1.625rem !important;
  max-width: 17.25rem;
  padding:0 !important;
  height: 6rem !important;
  justify-content: baseline;
  font-family: "PT Serif", sans-serif;
}

.navbar-nav > li > a.active,  .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--sblue);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--sblue);
}

/******************** Header section ***********************/

.header-wrapper {
  position: relative;
  background: url(Newestportfoliobackground.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height:100vh;
}

.main-info {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "PT Serif", sans-serif;
}

.main-info h1 {
  color:beige;
}

/*------------- Contact Me Button -------------*/
.btn-contact-me {
  border: .25rem solid var(--pwhite);
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--pwhite);
  font-family: "PT Serif", sans-serif;
}

.contact-me-btn {
  display: flex;
  position: relative; top: 65%;
  justify-content: center;
  text-align: center;
}

/******************* About myself section ****************************/
.photo-wrapped {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 23rem;
  height: 24rem;
  border-radius: 50%;
  padding: .3rem;
  border: .15rem solid var(--purplestuff);
}

.heading-aboutmyself {
  color: var(--purplestuff);
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
    height: 11rem;
  }
}